<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="Memoria"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer" 
			 connectionString="Server=victor-pc\sql2012; Initial Catalog=SGA; trusted_connection=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=SGA;Username=postgres;Password=nupode;"/>
		<add name="Memoria"
			 connectionString="SGA_DBMemoria"/>
	</connectionStrings>
</configuration>