@using Modelo.Entidades

@model Curso
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Creación de cursos</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3> Nuevo Curso</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Create">
                
                <div class="form-group">
                    <label class="control-label">Carrera</label>

                    <select class="form-control" 
                        asp-for="CarreraId"
                        asp-items="@ViewBag.ListadeCarreras">
                            <option value="">--Select--</option>  
                    </select>

                </div>             

                <div class="form-group">
                    <label class="control-label">Materia</label>
                    <input class="form-control" asp-for="MateriaId" />
                </div>
                <div class="form-group">
                    <label class="control-label">Periodo</label>
                    <input class="form-control" asp-for="PeriodoId" />
                </div>

                <div class="form-group">
                    <label class="control-label">Nombre del Curso</label>
                    <input class="form-control" asp-for="Nombre" />
                </div>
                <div class="form-group">
                    <label class="control-label">Jornada</label>
                    <input class="form-control" asp-for="Jornada" />
                </div>
                <div class="form-group">
                    <label class="control-label">FechaInicio</label>
                    <input class="form-control" asp-for="FechaInicio" />
                </div>
                <div class="form-group">
                    <label class="control-label">FechaFin</label>
                    <input class="form-control" asp-for="FechaFin" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

